.home {
    height: 80vh;
    align-items: center;
    background-image: url("./../images/Image-cover.jpg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 85% 0;
}

.home div {
    height: 50%;
}

.home div:nth-child(1) {
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.home h1 {
    font-size: 5rem;
}

.home img {
    width: 70px;
}